html,
body {
  margin: 0;
  padding: 0;
}
#calculator {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -140px;
  margin-top: -150px;
}
#calculator #show {
  width: 101.9%;
  height: 70px;
  background-color: #000;
  margin-left: -4px;
  font-size: 30px;
  text-align: right;
  line-height: 70px;
  overflow: hidden;
}
#calculator #show a {
  margin-right: 10px;
  text-decoration: none;
  color: #fff;
}
#calculator span {
  padding: 15px 0px;
  color: #fff;
  display: inline-block;
  min-width: 70px;
  text-align: center;
  font-size: 16px;
  margin-left: -4px;
  border: 1px solid #252525;
  margin-bottom: -1px;
  margin-right: -1px;
  margin-top: -1px;
}
#calculator #operate {
  position: relative;
}
#calculator #operate span {
  background-color: #ff9100;
}
#calculator #operate span:hover {
  background-color: #e18104;
}
#calculator #operate #equal {
  position: absolute;
  right: 0;
  top: 47px;
  height: 106px;
  line-height: 106px;
}
#calculator #operate span:last-child {
  position: absolute;
  right: 0;
  top: 184px;
}
#calculator #number span {
  background-color: #616161;
}
#calculator #number span:hover {
  background-color: #454444 !important;
}
#calculator #number span:last-child {
  width: 212px;
}
